@import url('//fonts.googleapis.com/css?family=Poppins%3A300%2Cregular%2C500%2C600%2C700%7CDroid+Serif%3Aregular%2Citalic%2C700%2C700italic%7CDosis%3A200%2C300%2Cregular%2C500%2C600%2C700%2C800%7CPlayfair+Display%3Aregular%2Citalic%2C700%2C700italic%2C900%2C900italic%7COswald%3A300%2Cregular%2C700%7CRoboto%3A100%2C100italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C700%2C700italic%2C900%2C900italic%7CNunito%3A200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C600%2C600italic%2C700%2C700italic%2C900%2C900italic%7CRaleway%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=devanagari%2Clatin-ext%2Clatin%2Ccyrillic%2Cvietnamese%2Cgreek%2Ccyrillic-ext%2Cgreek-ext');

$poppins: "Poppins", sans-serif;
$raleway: "Raleway";

$white: #ffffff;
$black:#000000;
$yellow: #f2cf46;
$dark: #303133;
$dark_oscuro: #3f4451;
$gray: #777777;
$gray_light: #f7f7f7;
$gray_borders: #eaeaea;
html{
    width: 100%;
    overflow-x: hidden;
    body{
        overflow-x: hidden;
        .container{
            @media(min-width:1440px){
                max-width: 1343px !important;
            }
        }
    }
}
/*============ Footer ============*/
*{
    font-family: $raleway;
}
.glsr-default form.glsr-form .glsr-field-toggle input[type=checkbox]:checked+.glsr-toggle-track:before {
    background: $yellow !important; 
}
.glsr-default form.glsr-form .glsr-toggle{
    align-items: center !important;
}
footer{
    position: relative;
    .whatsapp-fixed{
        position: fixed;
        z-index: 99;
        bottom: 10px;
        left: 10px;
        img{
            width: 70px;
            height: 70px;
        }
    }
    .scroll-top{
        position: fixed;
        right: 22px;
        bottom: 61px;
        z-index: 99;
        opacity: 0;
        transition: .2s;
        a{
            background: $dark;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            text-decoration: none;
            width: 2.1em;
            height: 2.1em;
            line-height: 2em;
            font-size: 14px;
            svg{
                width: .6em;
            }
        }
    }
    .scroll-top.active{
        opacity: 1;
    }
    .top-content{
        background: $dark_oscuro;
        padding: 72px 0;
        @media(max-width:768px){
            padding: 72px 23px;
        }
        h2{
            font-family: $raleway;
            font-weight: 700;
            font-size:24px;
            margin-bottom: 27px;
            color: $white;
        }
        hr{
            background: rgba(255, 255, 255, 0.25);
            margin: 63px 0 36px 0;
            height: 1px;
            opacity: 1;
        }
        .description{
            color: $white;
            font-family: $raleway;
            font-weight: 300;
            line-height: 1.75;
            font-size: 14px;
            strong{
                font-weight: 500;
            }
        }
        .contact-hr{
            margin: 36px 0;
        }
        .contact-list{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: 14px;
            li{
                a{
                    text-decoration: none;
                    color: $white;
                    display: flex;
                    gap: 27px;
                    align-items: center;
                    font-size: 14px;
                    font-family: $raleway;
                    font-weight: 500;
                    width: fit-content;
                    svg{
                        font-size: 12px;
                    }
                    &:hover{
                        color: $yellow;
                    }
                }
            }
        }
        .cta{
            display: flex;
            margin: 36px auto 36px 0;
            color: $dark;
            background-color: $white;
            border: 1px solid $white;
            width: fit-content;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-family: $raleway;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            padding: 13px 31px 13px 31px;
            text-decoration: none;
            font-size: 12px;
            transition: .2s;
            position: relative;
            &:hover{
                color: $white;
                background: transparent;
            }
        }
        .social-network{
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                padding: 0 9px;
                a{
                    color: $yellow;
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    border: 1px solid $yellow;
                    border-radius: 50%;
                    font-size: 14px;
                    width: 2em;
                    height: 2em;
                    transition: .2s;
                    &:hover{
                        background: $yellow;
                        color: $white;
                    }
                }
            }
        }
    }
    .blog-list{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 36px;
        li{
            a{
                display: flex;
                align-items: flex-start;
                gap: 36px;
                text-decoration: none;
                color: $white;
                .image-contain{
                    width: 67.992px;
                    max-height: 46.453px;
                    overflow: hidden;
                    position: relative;
                    &::after{
                        content: '';
                        background: $yellow;
                        opacity: .4;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 0;
                        height: 100%;
                        transition: .2s;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        transition: .2s;
                    }
                }
                .text{
                    display: flex;
                    flex-direction: column;
                    gap: 9px;
                    max-width: 318px;
                    h3{
                        margin: 0;
                        font-family: $raleway;
                        font-weight: 500;
                        text-transform: uppercase;
                        font-size: 20px;
                    }
                    p{
                        margin: 0;
                        font-family: $raleway;
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                &:hover{
                    color: $yellow;
                    .image-contain{
                        &::after{
                            width: 100%;
                        }
                        img{
                            transform: scale(1.2);
                        }
                    }
                }
                @media(max-width:768px){
                    flex-direction: column;
                    .image-contain{
                        width: 100%;
                        max-height: 225.148px;
                    }
                }
            }
        }
    }
    .copyright{
        padding: 36px 0;
        background: $dark_oscuro;
        position: relative;
        &::before{
            content: '';
            background: #000000;
            opacity: .1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .logo{
            width: 240px;
            height: 74.398px;
            position: relative;
            z-index: 1;
        }
        .p-copy{
            margin-top: 27px;
            position: relative;
            z-index: 1;
            h6{
                font-family: $raleway;
                color: $white;
                font-size: 14px;
                a{
                    color: $yellow;
                }
            }
        }
    }
}
/*=========== 404 ==========*/
#ditto_404_error{
    padding: 72px 0;
    background: $yellow;
    .container{
        padding-top: 88px;
        h1{
            font-family: $poppins;
            font-weight: 800;
            font-size: 179px;
            color: $white;
            text-align: center;
            margin-bottom: 0;
        }
        h5{
            font-family: $poppins;
            font-weight: 700;
            font-size: 44.8px;
            color: $white;
            text-align: center;
            margin-bottom: 0;
            position: relative;
            top: -32px;
        }
        p{
            text-align: center;
            color: $white;
            font-size: 18px;
            line-height: 1.75;
            font-family: $raleway;
            max-width: 420px;
            margin: 0 auto;
            font-weight: 300;
            padding: 0 38px;
        }
        @media(max-width:768px){
            h1{
                font-size: 48px;
            }
        }
    }
}