.wyw-text-block-partial-10273f {
    padding: 72px 0;
    background: $white;
    .text-block{
        font-family: $raleway;
        p, li{
            font-weight: 400;
            font-size: 18px;
            color: $gray;
        }
    }
}