.feature-properties-partial-e14bf5 {
    background: $gray_light;
    padding: 72px 0;
    .container{
        max-width: 100%;
    }
    .title-content{
        padding: 0 36px;
        hr{
            margin: 27px auto;
            border-color: $gray_borders;
            width: 90px;
            border-top: 2px solid;
            opacity: .1;
        }
        h2{
            font-size: 40px;
            color: $dark;
            font-family: $raleway;
            font-weight: 800;
            line-height: 1.2;
            @media(max-width:768px){
                font-size: 26.666666666667px;
            }
        }
        .description{
            font-family: $raleway;
            font-weight: 300;
            font-size: 18px;
            color: $gray;
            margin-top: 18px;
            @media(max-width:768px){
                padding: 0 10px;
            }
        }
    }
    #filters{
        margin-bottom: 3rem;
        .filter{
            h3{
                text-decoration: underline;
                color: $dark_oscuro;
                font-family: $raleway;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.75;
                position: relative;
                &::after{
                    display: none;
                    content: '';
                    width: 11px;
                    height: 11px;
                    border-left: 1px solid;
                    border-bottom: 1px solid;
                    transform: rotate(-45deg);
                    right: 8px;
                    top: 8px;
                    position: absolute;
                    border-color: $dark;
                    transition: .1s;
                }
            }
            ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                gap: 7px;
                overflow: hidden;
                transition: .2s;
                li{
                    a{
                        display: inline-flex;
                        flex-wrap: nowrap;
                        gap: 6px;
                        align-items: center;
                        text-decoration: none;
                        font-size: 14px;
                        color: $gray;
                        font-family: $raleway;
                        font-weight: 400;
                        .text{
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            .more{
                                font-size: 24px;
                                line-height: 0;
                            }
                        }
                        .checkbox{
                            display: block;
                            width: 20px;
                            height: 20px;
                            background: $white;
                            border: 1px solid $gray_borders;
                            box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.025);
                            border-radius: 2px;
                            position: relative;
                            &::before{
                                display: none;
                                content: '';
                                width: 15px;
                                height: 7px;
                                border-left: 3px solid $gray;
                                border-bottom: 3px solid $gray;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%) rotate(-45deg);
                                transition: 2s;
                            }
                        }
                    }
                    .active{
                        .checkbox{
                            &::before{
                                display: block;
                            }
                        }
                    }
                }
            }
            @media(max-width:768px){
                h3{
                    &::after{
                        display: block;
                    }
                }
                ul{
                    height: 0;
                }
            }
        }
        .filter.active{
            ul{
                height: auto;
            }
        }
    }
    #contenedor-posts{
        max-width: 1190px;
        margin: 0 auto;
        .card-propertie{
            position: relative;
            border-color: #eaeaea;
            border-radius: 4px;
            max-width: 250px;
            margin: 0 auto;
            border-radius: 5px;
            overflow: hidden;
            .image-contain{
                display: block;
                width: 100%;
                height: 170px;
                overflow: hidden;
                position: relative;
                color: $dark;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: .2s;
                }
                .availability{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $yellow;
                    padding: 4px 10px;
                    border-radius: 4px;
                    font-size: 12px;
                }
                &:hover{
                    img{
                        filter: brightness(60%);
                    }
                }
            }
            .card-body{
                padding: 15px 1.5rem;
                a{
                    text-decoration: none;
                    h3{
                        font-weight: 700;
                        margin-bottom: 10px;
                        min-height: 40px;
                        font-size: 20px;
                        font-family: $raleway;
                        color: $dark_oscuro;
                    }
                }
                .caracteristic{
                    .p-content-card-product{
                        margin-bottom: 0;
                        font-family: $raleway;
                        font-size: 14px;
                        color: $black;
                    }
                }
            }
        }
        .pagination{
            ul{
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;
                gap: 20px;
                width: 100%;
                list-style: none;
                li{
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid;
                        width: 30px;
                        height: 30px;
                        color: $dark;
                        border-color: transparent;
                        background: transparent;
                        font-family: $raleway;
                        font-weight: 300;
                        font-size: 14px;
                        border-radius: 50%;
                        box-shadow: none;
                        &:hover{
                            color: $yellow;
                        }
                    }
                }
                .active{
                    a{
                        color: $yellow;
                        border-color: $yellow;
                    }
                }
            }
        }
    }
}
#ditto-page{
    padding-bottom: 36px;
    .migas{
        background: $gray_light;
        padding: 36px 0;
        border-bottom: 1px solid #eaeaea;
        p{
            margin: 0;
            font-family: $raleway;
            color: #999999;
            font-size: 17px;
            font-weight: 600;
            @media(max-width: 768px){
                text-align: center;
            }
        }
        .breadcrumb{
            margin-bottom: 0;
            display: flex;
            justify-content: right;
            gap: 5px;
            a, span{
                font-family: $raleway;
                text-decoration: none;
                font-weight: 500;
                line-height: 1.75;
                color: #999999;
                font-size: 13px;
                transition: .2s;
            }
            a:hover{
                color: $yellow;
            }
            @media(max-width: 768px){
                justify-content: center;
            }
        }
    }
    h1{
        color: $yellow;
        font-size: 40px;
        line-height: 1.2;
        margin: 36px 0 63px 0;
        font-weight: 600;
    }
    .uncode_text_column{
        color: $gray;
        font-size: 18px;
    }
}