.contact-partial-3294a6 {
    background: $yellow;
    padding: 36px 36px 36px 36px;
    .col-12{
        padding: 0;
        h2{
            margin-bottom: 38px;
            font-size: 40px;
            color: #f7f7f7;
            font-weight: 900;
            line-height: 1.2;
            @media(max-width:768px){
                font-size: 26.666666666667px;
            }
        }
        .description{
            p{
                margin-bottom: 0;
                a{
                    color: $black;
                    text-decoration: none;
                    font-size: 18px;
                    line-height: 1.75;
                    font-weight: 300;
                    &:hover{
                        color: #f7f7f7;
                    }
                }
            }
        }
        img{
            width: 70px;
            height: auto;
            margin-top: 2rem;
        }
    }
}